html, body {
    padding: 0;
    margin: 0;
}
.infoPanel {
}
.mainPanel {
    background-color: #000000;
    position: relative;
    margin-top: 40px;
    width:100%;
    height:90%;
}
#joystick, #videoStream {
    top: 0;
    height: 95%;
    position: absolute;
}
#joystick {
    z-index: 2;
    position: absolute;
}
.controlPanel {
    position: relative;
    top: -50px;
    z-index: 3;
    padding: 0 2%;
    width: 96%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}