<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My PiRover</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-1.8.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/virtualjoystick/virtualjoystick.js') }}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
</head>
<body>
    <div class="infoPanel">
        <div id="inputFeedback"></div>
        <div id="serverFeedback"></div>
    </div>

    <div class="mainPanel">
        <div id="videoStream">
            <video poster preload="true">
                <source src="http://www.besnik.de/alex-free-stock-video-footage-fullhd-swedish-street-october-2012.mp4" type="video/mp4">
            </video>
        </div>
        <div id="joystick">
        </div>
    </div>

    <div class="controlPanel">
        <button id="off" class="btn btn-primary" type="button">OFF</button>
    </div>

<script>
    $(document).ready(function () {
        if ("WebSocket" in window) {
            window.ws = new WebSocket("ws://" + document.domain + "/websocket");
            window.ws.onmessage = function (msg) {
                var message = JSON.parse(msg.data);
                $("#log").html(message.output);
            };
        }

        // Cleanly close websocket when unload window
        window.onbeforeunload = function () {
            window.ws.onclose = function () {
            }; // disable onclose handler first
            window.ws.close()
        };
    });
</script>
<script>
    console.log("touchscreen is", VirtualJoystick.touchScreenAvailable() ? "available" : "not available");
    var joystick	= new VirtualJoystick({
        container	: document.getElementById('joystick'),
        mouseSupport	: true
    });
    setInterval(function () {

        if (!joystick.up() && !joystick.down() && !joystick.left() && !joystick.right())
        {
            return;
        }

        var outputEl = document.getElementById('inputFeedback');
        var inputFeedback = "";

        if (joystick.up())
        {
            var argument = convertStickDistanceToArgument(false, joystick.deltaY(), joystick._container);

            window.ws.send(JSON.stringify({
                'command': 'forward',
                'argument': argument
            }));
            inputFeedback += inputFeedback == "" ? "" : " & ";
            inputFeedback += "forward (" + argument + ")";
        }

        if (joystick.down())
        {
            var argument = convertStickDistanceToArgument(false, joystick.deltaY(), joystick._container);

            window.ws.send(JSON.stringify({
                'command': 'backward',
                'argument': argument
            }));
            inputFeedback += inputFeedback == "" ? "" : " & ";
            inputFeedback += "backward (" + argument + ")";
        }

        if (joystick.left())
        {
            var argument = convertStickDistanceToArgument(false, joystick.deltaX(), joystick._container);

            window.ws.send(JSON.stringify({
                'command': 'left',
                'argument': argument
            }));
            inputFeedback += inputFeedback == "" ? "" : " & ";
            inputFeedback += "left (" + argument + ")";
        }

        if (joystick.right())
        {
            var argument = convertStickDistanceToArgument(false, joystick.deltaX(), joystick._container);

            window.ws.send(JSON.stringify({
                'command': 'right',
                'argument': argument
            }));
            inputFeedback += inputFeedback == "" ? "" : " & ";
            inputFeedback += "right (" + argument + ")";
        }

        outputEl.innerHTML = '<b>Result:</b> ' + inputFeedback;
    }, 250);

    function convertStickDistanceToArgument(xValue, yValue, container)
    {
        var result = false;

        if (xValue)
        {
            result = xValue / (container.offsetWidth/100);
        }
        else if(yValue)
        {
            result = yValue / (container.offsetHeight/100);
        }

        result *= 2;
        if (result < 0)
        {
            result *= -1;
        }
        if (result > 100)
        {
            result = 100;
        }
        result = Math.round(result);

        return result;
    }

    /*
    function callback() {
        document.getElementsByName('video')[0].play();
    }

    window.addEventListener("load", callback, false);
    */
</script>

</body>
</html>
